*{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}
nav{
    display: flex;
    flex-wrap: wrap;
}
.nav-btn,.mobile-btn,.main-btn,.features-btn,.footer-btn{
    background-color:rgb(29,27,103);
    color:#fff;
    padding:15px 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
#hamburger-menu{
    display: none;
    margin: auto ;
    cursor: pointer;
}
.hamburger{
    width:20px;
    height:20px;
    fill:#271c49;
}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.mobile-menu{
    display:none;
    position: absolute;
    padding-top: 10%;
    background-color:hsl(0, 0%, 100%);
    top:90px;
    left:40px;
    height:20rem;
    width:78%;
  
}
.main-content{
    display: flex;
    flex-direction: row;
}
.image{
    width:600px;
    height:600px;
}
.people{
    width:40%;
}
.people-img{
    width:50px;
    height:50px;
    margin-right: 1%;
}

li{
    list-style-type: none;
}

/*pricing css*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
.slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }